@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --preto: #0C0C0C;
  --branco: #F2F2F2;
  --azul-1: #1B50D8;
  --azul-2: #99D6EA;
  --amarelo-1: #FFC222;
  --amarelo-2: #f3d382;
  --fonte-1: "Montserrat", sans-serif;
  --size: 16px;
  --suave: .5s ease;
}

* {
  font-family: var(--fonte-1);
  font-size: var(--size);
  transition: var(--suave);
  color: var(--branco);
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

header {
  background-color: var(--azul-2);
  font-family: var(--fonte-1);
  height: 95vh;
  border-radius: 0 0 35px 35px;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  cursor: default;
}
header .logo {
  background: url(../assets/city.gif) no-repeat;
  background-size: cover;
  border-radius: 35px;
  width: 90%;
  height: 80%;
  display: grid;
  place-items: center;
}
header .head-btn {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
header .head-btn div {
  display: flex;
  justify-content: space-evenly;
  width: 90%;
  transform: translateY(30px);
}
header .head-btn div button {
  min-width: 100px;
  height: 40px;
  border-radius: 50px;
  border: none;
  box-shadow: inset 0px -5px 1px rgba(0, 0, 0, 0.2);
  font-weight: bold;
}
header .head-btn div button:hover {
  box-shadow: none;
  cursor: pointer;
}
header .head-btn div button:hover a {
  font-size: calc(var(--size) * 0.95);
  text-shadow: 0px -1px 2px rgba(0, 0, 0, 0.2);
}
header .head-btn div button a {
  text-decoration: none;
}
header .head-btn div:nth-child(1) button {
  background-color: var(--azul-1);
}
header .head-btn div:nth-child(2) button {
  background-color: var(--amarelo-1);
}

main .sobre {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: auto;
  background-color: var(--amarelo-1);
  width: 90%;
  height: 80vh;
  border-radius: 35px;
  cursor: default;
}
main .sobre .sobre-img {
  margin: auto;
  width: 95%;
  height: 64%;
  border-radius: 35px;
  display: grid;
  place-items: center;
  background: url(../assets/city.gif);
}
main .sobre h2 {
  font-size: calc(var(--size) * 2);
  font-weight: bold;
  margin: 15px 30px;
  text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5);
}
main .sobre p {
  padding: 15px 30px;
}
main .sobre p strong {
  font-weight: bold;
}
main .sobre p strong:hover {
  text-decoration: underline;
}
main .sobre p span {
  font-weight: bold;
  animation: glow infinite 10s ease;
}
@keyframes glow {
  50% {
    color: var(--azul-1);
  }
}
main .reel {
  margin: 20px auto;
  width: 90%;
  height: 95vh;
  background: url(../assets/city.gif) no-repeat;
  background-size: cover;
  border-radius: 35px;
  border: 6px solid var(--preto);
  cursor: default;
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-areas: "gif" "cont";
}
main .reel .conteudo {
  width: 90%;
  margin: auto;
  display: grid;
  gap: 5px;
  grid-area: cont;
  margin-bottom: 7px;
  grid-template-columns: auto 50px;
  grid-template-rows: repeat(4, fr);
  grid-template-areas: "tt like" "txt insta" "txt git" "pgt wpp";
}
main .reel .conteudo span {
  height: 50px;
  width: 50px;
  display: grid;
  place-items: center;
  border-radius: 50%;
}
main .reel .conteudo span i {
  font-size: calc(var(--size) * 2.3);
  cursor: pointer;
}
main .reel .conteudo h2 {
  grid-area: tt;
  display: flex;
  align-items: center;
  font-size: calc(var(--size) * 1.4);
  font-weight: 600;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
main .reel .conteudo p {
  grid-area: txt;
  font-size: calc(var(--size) * 1.2);
  padding-right: 1em;
}
main .reel .conteudo .like {
  grid-area: like;
}
main .reel .conteudo .like .fa-solid {
  color: red;
}
main .reel .conteudo .redes-insta {
  grid-area: insta;
  background: -webkit-linear-gradient(#f9ce34, #ee2a7b, #6228d7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
main .reel .conteudo .redes-git {
  grid-area: git;
}
main .reel .conteudo .redes-git i {
  color: #0D1117;
}
main .reel .conteudo .redes-wpp {
  grid-area: wpp;
}
main .reel .conteudo .redes-wpp i {
  color: #25D366;
}
main .reel .conteudo button {
  align-self: end;
  grid-area: pgt;
  text-align: left;
  background-color: transparent;
  border: 1px solid var(--branco);
  border-radius: 50px;
  height: 40px;
  width: 100%;
}
main .reel .conteudo button:hover {
  cursor: text;
}
main .contato {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  width: 90%;
  height: 300px;
  margin: auto;
  background-color: rgba(153, 214, 234, 0.5);
  border-radius: 35px;
}
main .contato .img-ctt {
  width: 100px;
  height: 100px;
  background: var(--azul-1) url(../assets/city.gif) no-repeat;
  background-size: contain;
  border-radius: 20px;
  margin-bottom: 20px;
}
main .contato h2 {
  font-size: calc(var(--size) * 1.7);
  color: var(--preto);
  font-weight: 500;
}
main .contato p {
  color: var(--preto) !important;
  font-weight: 500;
}
main .voltar {
  width: 40px;
  height: 40px;
  background-color: var(--azul-1);
  position: fixed;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
  border-radius: 50%;
  display: grid;
  place-items: center;
}
main .voltar span i {
  font-size: calc(var(--size) * 1.5);
}
main footer {
  font-family: var(--fonte-1);
  background: linear-gradient(to bottom, transparent, var(--azul-2));
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
main footer .servicos ul {
  text-align: center;
}
main footer .servicos ul li {
  color: var(--preto);
  margin: 5px auto;
  font-size: calc(var(--size) * 1.1);
}
main footer .servicos ul hr {
  border: 1px solid var(--amarelo-1);
  width: 70%;
}
main footer .redes {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: center;
  gap: 15%;
  margin: 20px auto;
}
main footer .redes i {
  font-size: calc(var(--size) * 2);
}
main footer .direitos p {
  color: var(--preto);
  text-align: center;
}
main footer .direitos p a {
  color: var(--amarelo-1);
  text-decoration: none;
}/*# sourceMappingURL=style.css.map */